.crm-container .iCal_links-section.civicrm-add-to-calendar-processed {
  height: auto;
}

.crm-container .civicrm-add-to-calendar-processed .crm-accordion-wrapper {
  width: 200px;
  background-color: #5d677b;
  border-radius: 4px;
}

.crm-container .civicrm-add-to-calendar-processed .crm-accordion-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.crm-container .civicrm-add-to-calendar-processed .crm-accordion-body {
  border-top: 1px dotted white;
  padding: 0;
}

.crm-container .civicrm-add-to-calendar-processed .civicrm-add-to-calendar-link {
  display: block;
  padding: 10px 10px 10px 40px;
  color: white;
  font-weight: normal;
}

.civicrm-add-to-calendar-link:hover {
  background-color: #32414f;
}
